<main class="p-5">
    <div class="card p-5">
        <p id="test">
            Hellow world
        </p>
        <pre>
            kjhg
            nbg    jjhj   jj  bb vcfghj       mmm
        </pre>
        <p>hbcjdhb cciuh HHHJJ GGFFF</p>
        <span class="  test"> Test</span>
        <div style="margin: 10px 50px;background:grey">
            <div>Block</div>
            <div>Block</div>
            <div>Block</div>
            <div>Block</div>
            <div>Block</div>
            <span>inline-block</span>
            <span>inline-block</span>
            <span>inline-block</span>
            <span class="block text-center ">inline-block nnnnnnnnn jjjhbbHHHHHvvvb</span>

        </div>
    </div>
</main>