<div class="card p-5  card-dark">
    <a href="#test">Click me</a>
</div>
<div class="card p-5 card-dark">
    <a class="link" href="#link">Push
        down</a>
</div>
<div class="card p-5 card-dark">
    test
</div>
<div lang="en" class="card p-5 card-dark">
    test
</div>
<div lang="fr" class="card p-5 card-dark">
    test
</div>
<div id="link" class="card p-5 card-dark">
    test
</div>
<div lang="gr" id="test" class="card p-5 card-dark">
    <input>
    <span>γηφφφφλ΄π </span>
    <button>test me</button>
</div>
<div class=" p-5 card-dark">
    <button>test me</button>
    <button disabled> Disabled</button>
</div>
<div lang="gr" id="test" class="card p-5 card-dark">
    <input class="inp">
    <span>γηφφφφλ΄π </span>
    <button>test me</button>
</div>
<div class=" p-5 card-dark">
    <input type="inp">
    <div class="mt-5">
        <div>
            <input type="checkbox" checked>
            <span>first</span>
        </div>
        <div>
            <input type="checkbox">
            <span>second</span>
        </div>
    </div>
</div>
<div class=" p-5 card-dark">
    <div> <input type="email" class="valid" placeholder="test"> <span>second</span></div>
    <div class="mt-5"> <input type="number" value="0" min="10" max="20" class="number"></div>
    <span>second</span>
</div>

{{!--
#test:target{color:brown;}
#link:target{ background: rebeccapurple;}
.link:link {color:red;}
.link:hover {color: green;}
/* .card:hover {background: brown;} */
.link:active {color: yellow;}
.card:active {background: bisque;}
input:focus {background: green;}
input {background: gray;}
.card:focus-within {background-color:pink;}
.card:lang(en) {background: peru;}
.card:lang(gr)>span::after {content: '(gr)'; }
button {background: yellowgreen;}
button:enabled { background: palevioletred ;}
button:disabled {background: aquamarine;}
.inp:read-only {background: blueviolet;}
input[type="checkbox"] :checked ~ span { background: red;}
input:checked~span {background: blueviolet;}
.valid:valid {background: yellow;}
.valid:invalid {background: rgb(255, 0, 85);}
.valid:invalid {background: rgb(0, 200, 255);}
.number:focus {background: red;}
.number:out-of-range {background: wheat;}
.number:in-range {background:blueviolet}
input:placeholder-shown ~span {background: pink;} --}}