.page {
    background: #FFFFFF;
    padding: 0.20px;
}
.page-content {
   max-width: 960px ;
   margin: 0 auto;
  
}
.header {
    padding: 24px;
    border-bottom: 1px solid rgba(222, 226, 230, 1);
}
.logo { 
    font-size: 17px;
}
.divider {
    margin: 0;
    height: 1px;
    background: rgba(222, 226, 230, 1);
}
.nav {
display: block;

}

.nav_link {
color: #343A40;
font-size: 16px;
text-decoration: none;
}
.nav_link:hover {
    text-decoration: underline;
    color: blue;
}

.nav_vertical > .nav_link {
display: block;
}
.nav_vertical > .nav_link:not(:last-child) {
    margin-bottom: 12px ;

    }
.nav_inline > .nav_link:not(:last-child) {
    margin-right: 24px;

}
.header_nav_right {
    margin-left: auto;
    width: fit-content;
}
.page_block:not(:last-of-type) {
    margin-bottom: 80px;
}
.footer{
    padding: 24px 0;
    border-top: 1px solid rgba(222, 226, 230, 1);;
    
}
.footer-copyright{
    color:#6C757D ;
    font-size: 12.8px;
    display: block;
    margin-top: 12px;

}
.footer-title {
 color: #212529 ;
font-size: 20px;
display: block;
margin-bottom: 12px;
}
.hero_title {
    font-size: 56px;
    color: #212529;
    font-weight: 500;
    margin: 12px;
    text-align: center;
    display: block;
    line-height: 150%;
}
.hero_text{
    font-size: 20px;
    color:#212529 ;
 max-width: 585px;
    margin: 0 auto;
    text-align: center;
  display: block;
  line-height: 150%;
  /* hyphens: manual;
  overflow: auto;
  resize: both; */
}

.plans_card:not(:last-of-type){
    margin-right: 24px;

}
.card-header{
    padding: 12px;
    text-align: center;
    font-size: 24px;
    color:#212529 ;
}
.card_block {
    padding: 24px;
    text-align: center;
}

.card_price_duration{
    font-size: 29px;
    color: #6C757D;
    vertical-align:baseline;
}
.card_price_amound{
    font-size: 40px;
    color: #212529;
}
.card_body_item{
    color: #212529;
    font-size: 16px;
    text-align:center ;
    display: block;
   
}
.card_body_item:not(:last-of-type){
    padding: 12px;
}
.card_body_description{
    margin-bottom: 24px;
}
.card_block:not(:last-of-type){
    margin-bottom: 24px;
}
.card_button{
    display: block;
    padding: 9px;
    font-size: 19px;
    width: 100%;
}
.card {
   border: 1px solid red; 
   border-radius:  10px;
   box-shadow: 10px 10px 10px 1px black;
 
}
.card:hover {
    outline: 3px solid rgb(87, 45, 45);
    outline-offset: 3px;
    cursor:  all-scroll;
}
.btn {
    border-radius: 25px;
}
.btn:hover {
    box-shadow: 10px 10px 10px 1px black; 
}
.hero_title {
    text-shadow: 10px 5px 30px gray;
}
/* .card-header {
    text-shadow: 10px 5px 30px gray;
} */
.plans_card:not(:nth-child(2)) > .card {
    background: bisque;
}
.plans_card:nth-child(2) > .card{
    background: pink;
    /* display: none; */
    /* visibility: collapse; */
}
p {
    /* background: gray;
    width: 200px;
    height: 100px; */
    /* overflow: hidden; */
    /* overflow: scroll; */
    /* text-overflow: ellipsis; */
    /* white-space: pre; */
} 
/* .hero_text{
    font-size: 20px;
    color:#212529 ;
 max-width: 585px;
    margin: 0 auto;
    text-align: center;
  display: block;
  line-height: 150%; */
  /* hyphens: manual;
  overflow: auto;
  resize: both; */
/* } */